SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/nearby
SPRING_DATASOURCE_USERNAME=<local-postgres-user>
SPRING_DATASOURCE_PASSWORD=<local-postgres-password>
SPRING_DATA_REDIS_HOST=redis
SPRING_DATA_REDIS_PORT=6379
POSTGRES_DB=nearby
POSTGRES_USER=<local-postgres-user>
POSTGRES_PASSWORD=<local-postgres-password>
POSTGRES_PORT=5432
